//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- core / head ////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

//- Stylesheets
link(rel="stylesheet", href="music.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,500,600,700|IBM+Plex+Sans:400,500,600,700&display=swap")

//- Meta Tags
//- meta(name="description", content="Music")
//- meta(name="mobile-web-app-capable", content="yes")
//- meta(name="apple-mobile-web-app-capable", content="yes")
//- meta(name="application-name", content="Music")
//- meta(name="apple-mobile-web-app-title", content="Music")
//- meta(name="theme-color", content="#003c8f")
//- meta(name="msapplication-navbutton-color", content="#003c8f")
//- meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
//- meta(name="msapplication-starturl", content="/")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

//- Outros
//- link(rel="manifest", href="/manifest.json")
//- link(rel="icon" type="image/png" sizes="512x512" href="/icon.png")
//- link(rel="apple-touch-icon" type="image/png" sizes="512x512" href="/icon.png")

script var env = "#{env}";
