////////////////////////////////////////////////////////////////////////////////////////////////////
// music ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

body {
    margin: 0;
    font: 16px "ibm plex sans", sans-serif;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

// Core
@import "core/mixins";

// Now Playing
@import "now-playing";
@import "now-playing/display";
@import "now-playing/control";
@import "now-playing/options";
