////////////////////////////////////////////////////////////////////////////////////////////////////
// music ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-color: #1e5a88;
$background-color: #eee;

body {
    font: 16px "ibm plex sans", sans-serif;
    background-color: $background-color;
}

$layer-navigation: 1;
$layer-now-playing: 2;

// Core
@import "core/reset";
@import "core/mixins";

// Now Playing
@import "now-playing";
@import "now-playing/display";
@import "now-playing/control";
@import "now-playing/options";

// Navigation
@import "navigation";

// Screens
.library {
    position: fixed;
    top: 0;
    bottom: $now-playing-height;
    left: $navigation-width * 4.25;
    right: 0;
    overflow-y: auto;
}

// Albums
.album {
    .art {
        $size: 200px;
        width: $size;
        height: $size;
        background: no-repeat center;
        background-size: cover;
        box-shadow:
            0 1px 3px -1px rgba(#000, 0.5),
            0 2px 6px 0 rgba(#000, 0.18),
            0 1px 12px 0 rgba(#000, 0.12);
    }
}
