////////////////////////////////////////////////////////////////////////////////////////////////////
// music ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

body {
    margin: 0;
    font: 16px "ibm plex sans", sans-serif;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

@import "now-playing";
