////////////////////////////////////////////////////////////////////////////////////////////////////
// upload //////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.upload {
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	//  width: 200px;
	//  height: 200px;
	 background-color: yellow;
	 z-index: 99;

	 opacity: 0.1;
	 visibility: hidden;
	 pointer-events: none;

	 &.-state--active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	 }
}
