//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- library / artist ///////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

mixin album(title, year, cover)
    li: a(href="#")
        .art(style="background-image: url('" + cover + "')")
        .title= title
        .year= year

.library
    .artist
        h1 The Beatles

        .albums
            .studio
                ul
                    +album("The Beatles", 1968)

        .hits
