//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- library / artist ///////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

template#artist
    .artist
        h1.fill(data-fill="title")

        .albums: ul
        .hits

template#artist-album
    li: a.album(href="#")
        .art.fill(data-fill="style: cover-art")
        .title.fill(data-fill="title")
        .year.fill(data-fill="year")
