doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		title Music

		include core/head

	body
		//- ////////////////////////////////////////////////////////////////////////////////////////

		include navigation
		include now-playing

		.screen
			include library/artist

		//- ////////////////////////////////////////////////////////////////////////////////////////

		include core/scripts
