//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- navigation /////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

.navigation
    .sidebar
        .section.favorites: .button: i.material-icons loyalty
        .section.library.-state--active: .button: i.material-icons music_note
        .section.playlists: .button: i.material-icons playlist_play
        .section.search: .button: i.material-icons search

    .panel
