//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- navigation /////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

mixin link(text)
    li: a(href="#")= text

.navigation
    .sidebar
        .section.favorites: .button: i.material-icons loyalty
        .section.library.-state--active: .button: i.material-icons music_note
        .section.playlists: .button: i.material-icons playlist_play
        .section.search: .button: i.material-icons search

    .panel: ul
        +link("AC/DC")
        +link("Adele")
        +link("Aerosmith")
        +link("Akon")
        +link("Amy Winehouse")
        +link("Arctic Monkeys")
        +link("Avril Lavigne")
        +link("Backstreet Boys")
        +link("Bastille")
        +link("Beyoncé")
        +link("Bloodhound Gang")
        +link("Blur")
        +link("Bon Jovi")
        +link("Boston")
        +link("Britney Spears")
        +link("Bruno Mars")
        +link("Cake")
        +link("Calvin Harris")
        +link("Capital Cities")
        +link("Cher")
        +link("Chris Brown")
        +link("Christina Aguilera")
        +link("Chumbawamba")
        +link("Ciara")
        +link("Coldplay")
        +link("Corinne Bailey Rae")
        +link("Counting Crows")
        +link("Creed")
        +link("Daft Punk")
        +link("David Bowie")
        +link("David Guetta")
        +link("Deee-Lite")
        +link("Demi Lovato")
        +link("Destiny's Child")
        +link("Dido")
        +link("Dire Straits")
        +link("Divinyls")
        +link("Don Omar")
        +link("Drake")
        +link("Duran Duran")
        +link("Eagles")
        +link("Ellie Goulding")
        +link("Elton John")
        +link("Eminem")
        +link("Europe")
        +link("Eurythmics")
        +link("Everything But The Girl")
        +link("Faith No More")
        +link("Fall Out Boy")
        +link("Fatboy Slim")
        +link("Fergie")
        +link("Flo Rida")
        +link("Foster The People")
        +link("Foster the People")
        +link("Franz Ferdinand")
        +link("Fun.")
        +link("Gipsy Kings")
        +link("Gloria Gaynor")
        +link("Gnarls Barkley")
        +link("Good Charlotte")
        +link("Gorillaz")
        +link("Green Day")
        +link("Grouplove")
        +link("Guns N' Roses")
        +link("Gwen Stefani")
        +link("HAIM")
        +link("Hanson")
        +link("Hot Chelle Rae")
        +link("Icona Pop")
        +link("Ini Kamoze")
        +link("Irene Cara")
        +link("Iron Maiden")
        +link("Jack Johnson")
        +link("Jackson 5")
        +link("Jason Mraz")
        +link("Jennifer Lopez")
        +link("Jessie J")
        +link("Jet")
        +link("Jimmy Eat World")
        +link("John Legend")
        +link("Jonas Brothers")
        +link("Justin Timberlake")
        +link("KT Tunstall")
        +link("Katy Perry")
        +link("Kelly Clarkson")
        +link("Kiss")
        +link("Kylie Minogue")
        +link("LMFAO")
        +link("Lady Gaga")
        +link("Lenny Kravitz")
        +link("Limp Bizkit")
        +link("Linkin Park")
        +link("Lorde")
        +link("Lou Bega")
        +link("Loverboy")
        +link("MAGIC!")
        +link("MGMT")
        +link("Madonna")
        +link("Mark Ronson")
        +link("Maroon 5")
        +link("Mary J. Blige")
        +link("Matchbox Twenty")
        +link("McFly")
        +link("Michael Jackson")
        +link("Michael Sembello")
        +link("Miley Cyrus")
        +link("Missy Elliott")
        +link("Muse")
        +link("Natasha Bedingfield")
        +link("Nelly Furtado")
        +link("New Radicals")
        +link("Nicki Minaj")
        +link("Nirvana")
        +link("No Doubt")
        +link("NSYNC")
        +link("OMC")
        +link("One Direction")
        +link("OneRepublic")
        +link("Orgy")
        +link("OutKast")
        +link("P!nk")
        +link("Panic! At The Disco")
        +link("Pearl Jam")
        +link("Peter Frampton")
        +link("Pharrell Williams")
        +link("Pink")
        +link("Pitbull")
        +link("Queen")
        +link("Randy Newman")
        +link("Ray Parker Jr.")
        +link("Red Hot Chili Peppers")
        +link("Rihanna")
        +link("Robbie Williams")
        +link("Robin Thicke")
        +link("Roy Orbison")
        +link("Run-DMC")
        +link("Santana")
        +link("Selena Gomez")
        +link("Shaggy")
        +link("Shakira")
        +link("Shania Twain")
        +link("Sheppard")
        +link("Sia")
        +link("Simple Plan")
        +link("Smash Mouth")
        +link("Spice Girls")
        +link("Spin Doctors")
        +link("Sting")
        +link("Stone Temple Pilots")
        +link("Sublime")
        +link("Sugar Ray")
        +link("Supergrass")
        +link("Survivor")
        +link("TLC")
        +link("Taio Cruz")
        +link("Taylor Swift")
        +link("The Beatles")
        +link("The Black Eyed Peas")
        +link("The Cardigans")
        +link("The Clash")
        +link("The Dickies")
        +link("The Doors")
        +link("The Jacksons")
        +link("The Killers")
        +link("The Libertines")
        +link("The Lonely Island")
        +link("The Lumineers")
        +link("The Monkees")
        +link("The Pussycat Dolls")
        +link("The Rolling Stones")
        +link("The Strokes")
        +link("The Turtles")
        +link("The Underdog Project")
        +link("The Wanted")
        +link("The Weeknd")
        +link("The White Stripes")
        +link("The Wonders")
        +link("They Might Be Giants")
        +link("Thievery Corporation")
        +link("Timbaland")
        +link("Tom Petty")
        +link("Tom Petty And The Heartbreakers")
        +link("Twisted Sister")
        +link("Two Door Cinema Club")
        +link("U2")
        +link("Usher")
        +link("Vampire Weekend")
        +link("Van Halen")
        +link("Vanilla Ice")
        +link("Village People")
        +link("Westlife")
        +link("Yellowcard")
        +link("a-ha")
        +link("blink-182")
        +link("will.i.am")
