//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- now playing ////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

.now-playing.-state--paused
    .display
        .info
            .song
            .artist
            .album
        .art
            .cover

    .control
        .buttons
            .button.play-pause
                i.play.material-icons play_arrow
                i.pause.material-icons pause
            .button.skip.skip-previous: i.material-icons skip_previous
            .button.skip.skip-next: i.material-icons skip_next
        .timeline
            .bar: .elapsed
            .time.position 0:00
            .time.length 0:00

    .options
        .button.repeat: i.material-icons repeat
        .button.shuffle: i.material-icons shuffle
        .up-next
            .button: i.material-icons queue_music
            .time-left 0&thinsp;min
