//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- now playing ////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

audio.player(src="data/files/14 Captain Calvin (Original Mix).mp3", controls, autoplay)

.now-playing
    .display
        .info
            .song Under Cover of Darkness
            .artist The Strokes
            .album Angles
        .art
            .cover(style="background-image: url('https://lh3.ggpht.com/Cc4TZKHRq_rdChujsY__QSMO0Hcmw9kPomu9zE06vz-tjKgiVaPo4evmIyN6Gp1owl9uRK_rE-c');")

    .control
        .buttons
            .button.play: i.material-icons play_arrow
            .button.skip.skip-previous: i.material-icons skip_previous
            .button.skip.skip-next: i.material-icons skip_next
        .timeline
            .bar: .elapsed
            .time.position 00:00
            .time.length 00:00

    .options
        .button.repeat: i.material-icons repeat
        .button.shuffle: i.material-icons shuffle
        .up-next
            .button: i.material-icons queue_music
            .time-left 0&thinsp;min
