//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- now playing ////////////////////////////////////////////////////////////////////////////////////
//- ////////////////////////////////////////////////////////////////////////////////////////////////

.now-playing
    .display
        .info
            .song Under Cover of Darkness
            .artist The Strokes
            .album Angles
        .art
            .cover(style="background-image: url('https://lh3.ggpht.com/Cc4TZKHRq_rdChujsY__QSMO0Hcmw9kPomu9zE06vz-tjKgiVaPo4evmIyN6Gp1owl9uRK_rE-c');")

    .control
