////////////////////////////////////////////////////////////////////////////////////////////////////
// core / reset ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

html, body {
    height: 100%;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
